@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600&display=swap');

a { text-decoration:none; color:inherit }
a:hover { text-decoration:none; color:inherit }
ul li {list-style-type:none;}




.carousel { margin-top:85px }
/*carousel*/
.carousel-item{
  position:relative;
  height: 650px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 }
/*carousel*/
.carousel-caption {
	position:absolute;
	top:40%;
	}
.carousel-caption h5 {
	font-size:64px;
	line-height:0.8;
	text-shadow:3px 3px 5px #333;
	}

.application, .products {
	padding-top:120px;
	}
	
	
h1 {
	font-family: 'Oswald', sans-serif;
	line-height:1;
	letter-spacing:1px;
	font-size:34px;
	color:#333;
	}
p {
	color:#333;
	letter-spacing:1px;
	line-height:1.5;
	}	
.application h5, .products h5 {
	color:#999;
	font-size:13px;
	line-height:1;
	font-weight:300;
	font-family: 'Roboto', sans-serif;
	letter-spacing:3px;
	}	
.application span {
	margin-top:100px;
	}	
.application_con, .products_con {
	margin-top:50px;
	}	
.figure_outer {
	position:relative
	}
.figure_outer img {
	width:100%
	}		
.figure-caption_bg{
	position:absolute;
	bottom:8px;
	height:65px;
	width:100%; 
	}
.figure-caption_title {
	position:absolute;
	width:90%;
	color:#FFF;
	left:50%;
	top:50%;
	-webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    transform:translate(-50%,-50%);
	}
.figure-caption_title h2 {
	font-family: 'Open Sans', sans-serif;
	font-size:15px;
	line-height:1;
	letter-spacing:1px;
	font-weight:400;
	}	
.application_btn_con {
	margin-top:45px;
	}	
.application_btn {
	padding:8px 60px 8px 60px;
	font-family: 'Oswald', sans-serif;
	letter-spacing:2px;
	font-size:18px;
	font-weight:400;
	border-style:solid;
	border-width:2px;
	border-color: rgba(255,0,51,1);
	color:rgba(255,0,51,1);
	}
.application_btn:hover {
	padding:8px 60px 8px 60px;
	font-family: 'Oswald', sans-serif;
	letter-spacing:2px;
	font-size:18px;
	font-weight:400;
	background-color: rgba(255,0,51,1);
	color:#FFF;
	}
.products {
	margin-bottom:120px;
	}			
.product_category {
	height:500px;
	background-size:cover;
    background-repeat:no-repeat;
    background-position:50% 50%;
	}
.industry_bg {
	position:absolute;
	width:100%;
	height:100%;
	background-color: rgba(20,20,20,0.7);
	left:0;
	bottom:0;
	transition: 500ms ease-in;
	}	
.medical_bg	{
	position:absolute;
	width:100%;
	height:100%;
	background-color: rgba(51,204,255,0.5);
	left:0;
	bottom:0;
	transition: 500ms ease-in;
	}
.product_category_title {
	width:100%;
	position:absolute;
	left:50%;
	top:50%;
	-webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    transform:translate(-50%,-50%);
	}
.product_category_title h3 {
	font-family: 'Oswald', sans-serif;
	color:#FFF;
	font-size:38px;
	line-height:2;
	}
.product_category_title span {
	color:#FFF;
	font-size:13px;
	margin-top:30px;
	padding:8px 25px 8px 25px;
	font-family: 'Roboto', sans-serif;
	font-weight:400;
	border-style:solid;
	border-width:2px;
	border-color: #FFF;
	transition: 500ms ease-in;
	}
.news-event {
	margin-bottom:30px;
	}
.index-new_items h4 {
	font-family: 'Oswald', sans-serif;
	font-size:28px;
	}	
.media { 
    font-family: 'Roboto', sans-serif;
	letter-spacing:1px;
	}
.news_2020 {
	color:#999;
	font-size:15px;
	letter-spacing:0px;
	}
.media-title {
	font-size:15px;
	}
.index-new_items img {
	width:220px;
	width:100%;
	
	}
.about {
	margin-top:100px;
	}
.banner {
	margin-top:85px;
	height:250px;
	background-size:cover;
	background-position:50% 50%;
	}
.about_title {
	margin-bottom:50px;

	}
		

@media screen and (max-width:1440px){
/*carousel*/
.carousel-item{
    height: 500px;
    }
/*carousel*/
.carousel-caption h5 {
	font-size:48px;
	}

	
}

	
@media screen and (max-width:1024px){
/*carousel*/
.carousel-item{
    height: 400px;
    }
/*carousel*/
.carousel-caption h5 {
	font-size:42px;
	}
}

@media screen and (max-width:768px){
.index-new_items img {
	width:80%;
}