@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600&display=swap');


a { text-decoration:none; color:inherit }
a:hover { text-decoration:none; color:inherit }
ul li {list-style-type:none;}

.carousel { margin-top:80px }
/*carousel*/
.carousel-item{
  position:relative;
  height: 650px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 }
/*carousel*/
.carousel-caption {
	position:absolute;
	top:40%;
	}
.carousel-caption h5 {
	font-size:56px;
	line-height:0.8;
	text-shadow:3px 3px 5px #333;
	}
.carousel-caption p {
	color:#FFF;
	text-shadow:3px 3px 5px #333;
	}
.application, .products {
	padding-top:100px;
	padding-bottom:30px;
	}
	
h1 {
	font-family: 'Oswald', sans-serif;
	line-height:1;
	letter-spacing:1px;
	font-size:34px;
	color:#333;
	}
p {
	color:#333;
	letter-spacing:1px;
	line-height:1.5;
	}	
.application h5, .products h5, .news {
	color:#999;
	font-size:13px;
	line-height:1;
	font-weight:300;
	font-family: 'Roboto', sans-serif;
	letter-spacing:3px;
	}
.application h6 {
	letter-spacing:2px;
	font-family: 'Titillium Web', sans-serif;
	color:#C00;
	font-size:20px;
	font-weight:400;
	}	
.application span {
	margin-top:100px;
	}	
.application_con, .products_con {
	margin-top:50px;
	}	
.figure_outer {
	position:relative
	}
.figure_outer img {
	width:100%
	}		
.figure-caption_bg{
	position:absolute;
	bottom:8px;
	height:65px;
	width:100%; 
	}
.figure-caption_title {
	position:absolute;
	width:90%;
	color:#FFF;
	left:50%;
	top:50%;
	-webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    transform:translate(-50%,-50%);
	}
.figure-caption_title h2 {
	font-family: 'Open Sans', sans-serif;
	font-size:15px;
	line-height:1;
	letter-spacing:1px;
	font-weight:400;
	}	
.application_btn_con {
	margin-top:45px;
	}	
.application_btn {
	padding:8px 60px 8px 60px;
	font-family: 'Oswald', sans-serif;
	letter-spacing:2px;
	font-size:18px;
	font-weight:400;
	border-style:solid;
	border-width:2px;
	border-color: rgba(255,0,51,1);
	color:rgba(255,0,51,1);
	}
.application_btn:hover {
	padding:8px 60px 8px 60px;
	font-family: 'Oswald', sans-serif;
	letter-spacing:2px;
	font-size:18px;
	font-weight:400;
	background-color: rgba(255,0,51,1);
	color:#FFF;
	}
.products {
	margin-bottom:120px;
	}			
.product_category {
	height:500px;
	background-size:cover;
    background-repeat:no-repeat;
    background-position:50% 50%;
	}
.industry_bg {
	position:absolute;
	width:100%;
	height:100%;
	background-color: rgba(20,20,20,0.3);
	left:0;
	bottom:0;
	transition: 500ms ease-in;
	}	
.medical_bg	{
	position:absolute;
	width:100%;
	height:100%;
	background-color: rgba(51,204,255,0.4);
	left:0;
	bottom:0;
	transition: 500ms ease-in;
	}
.product_category_title {
	width:100%;
	position:absolute;
	left:50%;
	top:50%;
	-webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    transform:translate(-50%,-50%);
	}
.product_category_title h3 {
	font-family: 'Oswald', sans-serif;
	color:#FFF;
	font-size:38px;
	line-height:1;
	}
.product_category_title span {
	color:#FFF;
	font-size:13px;
	line-height:2.5;
	margin-top:30px;
	padding:8px 25px 8px 25px;
	font-family: 'Roboto', sans-serif;
	font-weight:400;
	border-style:solid;
	border-width:2px;
	border-color: #FFF;
	transition: 500ms ease-in;
	}
.news-event {
	margin-bottom:50px;
	}
.index-new_items h4 {
	font-family: 'Oswald', sans-serif;
	font-size:28px;
	}	
.media { 
    font-family: 'Roboto', sans-serif;
	letter-spacing:1px;
	}
.news_2020 {
	color:#999;
	font-size:15px;
	letter-spacing:0px;
	}
.media-title {
	font-size:15px;
	}
.index-new_items img {
	width:220px;
	width:100%;
	
	}
.about {
	padding-top:100px;
	padding-bottom:100px;
	background-color:#FFF;
	}
.about img {
	width:100%;
	margin:0 auto;
	}
.banner {
	margin-top:80px;
	height:250px;
	background-size:cover;
	background-position:50% 50%;
	}
.about_title {
	margin-bottom:50px;
	}
.about_content {
	font-size:30px;
	}
.about_content p, .product_category_content p {
	padding:15px;
	font-family: 'Roboto', sans-serif;
	font-size:16px;
	line-height:1.5;
	letter-spacing:1px;
	font-weight:400;
	}
.corevalues{
	width:100%;
	background-image:url(../images/banner/25314851.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    -webkit-background-size: cover !important; 
    -moz-background-size: cover !important; 
    -o-background-size: cover; 
    background-attachment:fixed;
	background-position:50% 50%;
    z-index: -1;
	height:auto;
	padding-top:100px;
	padding-bottom:100px;
}
.corevalues:before{
    content: "";
    position: fixed;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: inherit;
    -webkit-background-size: cover!important;
    -o-background-size: cover;
    background-size: cover!important;
}
.corevalues_con {
	display:flex;
	}
.corevalues_items {
	background: rgba(100%,100%,100%,0.5);
	width:100%;
	border-style:solid;
	border-width:2px;
	border-color:#FFF;
	align-items: center;
	display:flex;
	justify-content: center;
	border-radius:50%;
	color:#FFF;
	letter-spacing:1px;
	}
.corevalues_items:after {
	content: ".";
	color: #FFF;
	display: block;
	padding-bottom: 50%;
	padding-top:50%;
	}
.hiden {
		opacity:0;
	}
	
	#industrial {
		border-style:solid;
		border-width:2px;
		border-color:#333;
		color:#333;
		font-size:15px;
		}
	
	#medical {
		border-style:solid;
		border-width:2px;
		border-color:#007bff;
		color:#007bff;
		font-size:15px;
		}
	#industrial.active {
		background-color:#333;
		color:#FFF;
		}
	#medical.active {
		background-color:#007bff;
		color:#FFF;
		}
   

@media screen and (max-width:1440px){
/*carousel*/
.carousel-item{
    height: 500px;
    }
/*carousel*/
.carousel-caption h5 {
	font-size:48px;
	}	
}

	
@media screen and (max-width:1024px){
/*carousel*/
.carousel-item{
    height: 400px;
    }
/*carousel*/
.carousel-caption h5 {
	font-size:36px;
	}
}

@media screen and (max-width:768px){
.index-new_items img {
	width:80%;
}